<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>hello</title>
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/bootstrap/bootstrap.min.js}"></script>
</head>
<body>
<!--/*@thymesVar id="name" type="java.lang.String"*/-->
<div class="container">
    <table class="table table-striped">
        <tr>
            <th>nickname</th>
            <th>username</th>
            <th>password</th>
        </tr>
        <tr th:each="user : ${pageInfo.list}">
            <td th:text="${user.nickname}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
        </tr>
    </table>

    <nav>
        <ul class="pagination">
            <li>
                <a th:if="${not isFirstPage}" th:href="@{${'allUsers'}(pageNum=${pageNum-1},pageSize=${pageSize})}" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                </a>
                <a th:if="${isFirstPage}" href="javascript:void(0);" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                </a>
            </li>

<!--            <li th:each="pageNo : ${#numbers.sequence(1, totalPages)}">
                <a th:if="${pageNum eq pageNo}" href="javascript:void(0);">
                    <span th:text="${pageNo}"></span>
                </a>

                <a th:if="${not (pageNum eq pageNo)}" th:href="@{${'allUsers'}(pageNum=${pageNo},pageSize=${pageSize})}">
                    <span th:text="${pageNo}"></span>
                </a>
            </li>-->

            <li>
                <a th:if="${not isLastPage}" th:href="@{${'allUsers'}(pageNum=${pageNum+1},pageSize=${pageSize})}" aria-label="Next">
                    <span aria-hidden="true">»</span>
                </a>
                <a th:if="${isLastPage}" href="javascript:void(0);" aria-label="Next">
                    <span aria-hidden="true">»</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>